rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Utilisateurs
    match /utilisateurs/{userId} {
      allow read: if true;
      allow write: if request.auth != null;
    }

    // Annonces
    match /annonces/{annonceId} {
      allow read: if true;
      allow create: if request.auth != null;
      allow update, delete: if request.auth != null;
    }

    // Demandes d'achat
    match /demandes/{demandeId} {
      allow read, write: if request.auth != null;
    }

    // Avis
    match /avis/{avisId} {
      allow read: if true;
      allow create: if request.auth != null;
      allow update, delete: if request.auth != null;
    }

    // Publicités
    match /publicites/{pubId} {
      allow read: if true;
      allow update: if true;
      allow create, delete: if request.auth != null;
    }

    // Ventes (tracking interne)
    match /ventes/{venteId} {
      allow read, write: if true;
    }

    // Statistiques globales (tracking interne)
    match /statistiques/{statId} {
      allow read, write: if true;
    }

    // Signalements de vendeur
    match /signalements/{signalementId} {
      allow read, update, delete: if request.auth != null 
                  && request.auth.uid == 'RMCWJVkSN6X6K5T1XintJKtA2ay1';
      allow create: if request.auth != null;
    }
  }
}
